body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

#heading-bg h1, #heading-bg h2, #heading-bg h3 {
    font-family: 'Roboto Condensed'; font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#header {
    /*background-color: teal;
    color: white;
    padding: 10px;*/
}
#notifications { position:relative; }

#notifications img { opacity:0.5; }

#notifications.alert::before { content:"•"; color:red; font-size:50px; position:absolute; top:-21px; z-index:10;  }

#nav {
    display:flex;
    gap:12px;
    align-items:center;
}

.portal-title {
    color:#444;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 24px;
}

/*
.dashboard {
    background-image: linear-gradient(to right, rgb(35, 85, 221), rgb(24, 187, 133));
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: left;

}

.dashboard-title {
    font-size: 40px;
    margin: 40px;
}
*/

button {
    font-size: 16px;
    font-weight:bold;
    background:#429CB9;
    border-radius:4px;
    color:white;
    padding:0.75rem 2rem;
    border:none;
    box-shadow: 0 0 8px rgba(0,0,0,0.0);
    cursor:pointer;
    opacity:0.8;
    transition:all 200ms;
    display:flex;
    align-items: center;
}

button:hover {
    opacity:1;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


a {
    transition:all 200ms;
}

.flex-column {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.form-control {
    padding: .375rem .75rem;
    line-height:1.5;
    color:#213519;
    border: 1px solid #CCC;
    border-radius:0.25rem;
    box-sizing:border-box;
    width:100%;
    font-family:Roboto;
}

.form-signin, .form-register {
    width:100%;
    max-width: 350px;
    padding:20px;
    background:#F5F5F5;
    border:1px solid #D8D8D8;
    box-shadow:0 3px 15px rgba(0,0,0,0.1);
    border-radius:4px;
    margin:0 auto;
}

label {
    display:block;
    margin-bottom:0.5rem;
    font-size:0.8rem;
    font-weight:bold;
}

.button-bar {
    display:flex;
    gap:12px;
    justify-content: end;
}

.center {
    text-align: center;
}

#heading-bg {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding:1rem 2rem;
    color:white;
    margin-bottom:2rem;
    border-radius:6px;
}

#heading-bg.center h1 {
    display: inline-block;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 4px;
}

#dashboard-content {
    display:grid;
    grid-template-columns: 4fr 1fr;
    gap:20px;
    padding:0 2rem;
}

main section {
    margin-bottom:1rem;
}

.hide {
    display:none;
}

.alert {
    border-radius:4px;
    border:1px solid #ccc;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    display:flex;
    justify-content: space-between;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert .icon {
    height:19px;
}

.accordion {
    margin:1rem 0;
}

@media screen and (max-width: 400px)  {
    .form-signin, .form-register {
        max-width:none;
        width:auto;
        margin:0 10px;
    }
}

@media screen and (max-width: 1280px)  {
    #heading-bg {
        border-radius:0;
    }
}